<div class="max-w-[1045px] mx-auto left-0 right-0 ">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div
            class="mx-10 text-center h-[200px] rounded-[10px] grid mt-[-100px] bg-[url('/assets/images/bg-shorten-desktop.svg')] bg-cover bg-no-repeat bg-center bg-[#581C87]">
            <div class="flex desktop:flex-row mobile:flex-col gap-7 mx-10 my-auto">
                <div class="flex-grow relative">
                    <div class="relative">
                        <input type="text" formControlName="url" [required]="urlValid" class="peer font-medium text-[18px] text-gray-500 m-0 block h-[58px] w-full rounded border border-solid border-neutral-300 bg-white bg-clip-padding px-3 py-4 text-base leading-tight transition duration-200 ease-linear placeholder:text-transparent 
                        focus:pb-[0.625rem] focus:pt-[1.625rem] 
                        focus:text-gray-400 focus:outline-none 
                        focus:border-blue-500
                        hover:border-blue-500
                        active:border-blue-500
                        invalid:border-red-500
                        dark:border-neutral-600 dark:text-neutral-200 dark:focus:border-primary dark:peer-focus:text-primary 
                        [&:not(:placeholder-shown)]:pb-[0.625rem] [&:not(:placeholder-shown)]:pt-[1.625rem]"
                            id="floatingInput" placeholder="name@example.com" />
                        <label for="floatingInput"
                            class="pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent px-3 py-4 text-neutral-500 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-focus:text-primary peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">Enter
                            your link here</label>
                    </div>
                    <div *ngIf="urlValid"
                        class="font-medium text-[18px] text-red-500 desktop:mt-3 mobile:mt-0 text-left absolute">Please
                        add
                        a link</div>
                </div>
                <button type="submit"
                    class="rounded-[10px] desktop:w-[177px] mobile:w-full h-[62px] grid text-center text-[20px] font-semibold text-white bg-[#2DD4BF] transition duration-200  hover:bg-[#0d9488] hover:ease-in-out active:bg-[#0f766e] focus:bg-[#0f766e] motion-reduce:transition-none"
                    href="#">
                    <span class="m-auto">Shorten it!</span>
                </button>

            </div>
        </div>
    </form>
    <!-- *ngIf="items && items.length > 0" -->
    <div class="mx-10" *ngIf="items && items.length > 0">
        <div class="m-10 text-gray-400 text-[18px] font-semibold">Your links</div>
        <div *ngFor="let item of items">
            <app-shrtcode-child [shrtcode]="item"></app-shrtcode-child>
            <!-- <div class="bg-white rounded-[10px] drop-shadow-md">
                <div class="flex desktop:flex-row mobile:flex-col py-7 desktop:divide-y-0 mobile:divide-y-2">
                    <div class="flex-grow text-[16px] leading-[24px] font-medium desktop:self-center mobile:self-start mx-5 py-5">https://brimvoid.com</div>
                    <div class="flex desktop:flex-row mobile:flex-col desktop:pt-0 mobile:pt-5">
                        <div class="text-[18px] leading-[18px] text-[#2DD4BF] font-medium desktop:self-center mobile:self-start mobile:mx-5">https://re.link/siduia</div>
                        <button
                            class="rounded-[10px] m-5 desktop:w-[177px] mobile:w-full h-[62px] grid text-center text-[20px] font-semibold text-white bg-[#2DD4BF] transition duration-200  hover:bg-[#0d9488] hover:ease-in-out active:bg-[#0f766e] focus:bg-[#0f766e] motion-reduce:transition-none"
                            href="#">
                            <span class="m-auto">Copy</span>
                        </button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>