<!-- Footer container -->
<div class="bg-gray-800">
  <footer class="max-w-[1045px] m-auto text-center text-neutral-600">


    <!-- Main container div: holds the entire content of the footer, including four sections (Tailwind Elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
    <div class="py-10 text-center md:text-left">
      <div class="flex desktop:flex-row mobile:flex-col gap-10">
        <!-- Tailwind Elements section -->
        <div class="flex-grow">
          <h6 class="text-center font-semibold text-[28px] leading-[28px] text-white">
            Shortly
          </h6>
        </div>
        <!-- Products section -->
        <div class="flex desktop:flex-row mobile:flex-col gap-5 desktop:text-left mobile:text-center ">
          <div class="">
            <div class="mb-4 flex font-semibold text-[18px] text-white desktop:justify-start mobile:justify-center">
              Features
            </div>
            <div class="grid gap-3 font-medium text-[14px] leading-[14px] text-gray-400">
              <a href="#">Link Shortening</a>
              <a href="#">Branded Links</a>
              <a href="#">Analytics</a>
            </div>
          </div>
          <div class="">
            <div class="mb-4 flex font-semibold text-[18px] text-white desktop:justify-start mobile:justify-center">
              Resources
            </div>
            <div class="grid gap-3 font-medium text-[14px] leading-[14px] text-gray-400">
              <a href="#">Blog</a>
              <a href="#">Developers</a>
              <a href="#">Support</a>
            </div>
          </div>
          <div class="">
            <div class="mb-4 flex font-semibold text-[18px] text-white desktop:justify-start mobile:justify-center">
              Company
            </div>
            <div class="grid gap-3 font-medium text-[14px] leading-[14px] text-gray-400">
              <a href="#">About</a>
              <a href="#">Our Team</a>
              <a href="#">Careers</a>
              <a href="#">Contact</a>
            </div>
          </div>
        </div>
        <!-- Contact section -->
        <div class="flex-grow ">
          <div class="flex gap-5 w-fit mx-auto mt-2">
            <img src="/assets/images/icon-instagram.svg" class="w-[24px] h-[24px]" alt="icon-instagram"
              loading="lazy" />
            <img src="/assets/images/icon-pinterest.svg" class="w-[24px] h-[24px]" alt="icon-pinterest"
              loading="lazy" />
            <img src="/assets/images/icon-twitter.svg" class="w-[24px] h-[24px]" alt="icon-twitter" loading="lazy" />
            <img src="/assets/images/icon-facebook.svg" class="w-[24px] h-[24px]" alt="icon-facebook" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>